@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>REC.note</title>
    
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" id="theme" />
    <link rel="stylesheet" href="http://blueimp.github.com/jQuery-Image-Gallery/css/jquery.image-gallery.min.css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/jquery.fileupload-ui.css")" />
    <link rel="stylesheet/less" type="text/css" href="@Url.Content("~/Content/Css/Default.less")" />
    
    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="@Url.Content("~/Content/Scripts/jquery.iframe-transport.js")" ></script>
    <!-- The basic File Upload plugin -->
    <script src="@Url.Content("~/Content/Scripts/jquery.fileupload.js")" ></script>
    <!-- The File Upload file processing plugin -->
    <script src="@Url.Content("~/Content/Scripts/jquery.fileupload-fp.js")" ></script>
    <!-- The File Upload user interface plugin -->
    <script src="@Url.Content("~/Content/Scripts/jquery.fileupload-ui.js")" ></script>
    <!-- The File Upload jQuery UI plugin -->
    <script src="@Url.Content("~/Content/Scripts/jquery.fileupload-jui.js")" ></script>
    <!-- The main application script -->
    <!--<script src="@Url.Content("~/Content/Scripts/main.js")"></script>-->
    <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
    <!--[if gte IE 8]><script src="js/cors/jquery.xdr-transport.js"></script><![endif]-->

    
    <script src="@Url.Content("Content/themes/NicEdit/nicEdit.js")" type="text/javascript"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/Content/Scripts/Util.js")" ></script>
    
    <script type="text/javascript">
        window.baseUrl = '@Url.GetBaseUrl()';
        less = {
            env: "development", // or "production"
            async: false,       // load imports async
            fileAsync: false,   // load imports async when in a page under
            // a file protocol
            poll: 1000,         // when in watch mode, time in ms between polls
            functions: {},      // user functions, keyed by name
            dumpLineNumbers: "comments", // or "mediaQuery" or "all"
            relativeUrls: false, // whether to adjust url's to be relative
            // if false, url's are already relative to the
            // entry less file
            // rootpath: "http://local.recnote.cl/"// a path to add on to the start of every url
            //resource
        };

        var customButtons = {
            buttons: {
                'addAudio': { name: __('Add an audio file'), type: 'addAudio', noClose: true }
            }
            , iconFiles: { 'addAudio': Util.url('Content/themes/recnote/common/addAudio.png') }
        };
        addAudio = nicEditorButton.extend({
            mouseClick: function () {
                window.currentEditElement = null;
                window.currentEditElement = $('.nicEdit-main:focus');
                
                if (window.currentEditElement.length > 0) {
                    window.editor = Util.editor.selectedInstance;
                    window.saveRange = Util.editor.selectedInstance.getRng();
                    window.saveSelected = Util.editor.selectedInstance.selElm();
                    Util.post('Audio/Search', { projectID: project.currentID() }, function (html) {
                        $('body').append(html);
                        $('#Audio_File').fileupload({
                            url: 'file/upload',
                            start: function () { alert('subiendo archivo'); },
                            done: function (e, data) {
                                $('#audioSearch label').html('');
                                $('#audioSearch #Audio_File').remove();
                                var fileID = $('<input>')
                                    .attr('type', 'hidden')
                                    .attr('name', 'ProjectID')
                                    .addClass('important')
                                    .attr('value', data.result.file.id);

                                $('#audioSearch label').append(fileID);
                                $('#audioSearch label').append($('<span>').text(data.result.file.name));

                                Util.post('Audio/Result', { projectID: project.currentID(), fileID: data.result.file.id }, function (result) {
                                    $('#audioSearch > .result').html(result);
                                });
                            },
                            autoUpload: true
                        });
                    });
                }
            }
        });

        bkLib.onDomLoaded(
                function () {

                    nicEditors.registerPlugin(nicPlugin, customButtons);
                    Util.editor = new nicEditor({ iconsPath: '@Url.Content("~/Content/themes/NicEdit/nicEditorIcons.gif")', buttonList: ['bold', 'italic', 'underline', 'ol', 'ul','addAudio'] });

                }
            );

    </script>
    <script src="@Url.Content("~/Content/Scripts/less.min.js")" type="text/javascript"></script>

</head>
<body>
    @RenderBody()
    @Url.GetDynamicFiles()
</body>

</html>
