@{
    Layout = "~/Views/Shared/Control.cshtml";
}
@model RecNote.Presentation.Web.Models.ProjectItem.View
<section name="projectItemPreview" ItemName="@Model.Item.Name" onclick="projectItem.view('@Model.Project.ID', '@Model.Type')">
    <header>
        <h2>@I18n.GetString(Model.Type)</h2>
    </header>
    <article>
        @Model.Item.Data
    </article>
    <footer>
        @I18n.GetString(Model.Item.IsPublic)
    </footer>
</section>
