@{
    Layout = "~/Views/Shared/Control.cshtml";
}
@model RecNote.Presentation.Web.Models.Project.Project
<section id="projectView">
    @Html.HiddenFor(p => p.CurrentProject.ID)
    <header>
        <h2>@Model.CurrentProject.Name</h2>
        <menu>
            <button type="button" class="link" onclick="project.cancel('#projectNew');" id="countMembers" >@I18n.GetString("members", new { count = Model.CurrentProject.Actors.Length })</button>
            <button type="button" class="sub" onclick="project.save('#projectNew');">@I18n.GetString("save")</button>
        </menu>
    </header>
    <section class="body">
        @foreach (var information in Model.CurrentProject.Information)
        {
            <section class="option">
                <h2>@information.Name</h2>
                @foreach (var item in information.Childs)
                {
                    @Html.Action("View", "ProjectItem", new { Project = Model.CurrentProject, Item = item })
                }
            </section>
        }
    </section>
    <section class="right">
        <h2>
            @I18n.GetString("project.view.audios")
            <button type="button" onclick="audio.new('@Model.CurrentProject.ID')">@I18n.GetString("project.project.newAudio")</button>
        </h2>
        @Html.Action("List", "Audio", new { projectID = Model.CurrentProject.ID })
    </section>
    <footer>
    </footer>
</section>

