@{
    Layout = "~/Views/Shared/Control.cshtml";
}
@model RecNote.Presentation.Web.Models.Project.Project
<section id="projectView">
    @Html.HiddenFor(p => p.CurrentProject.ID)
    <header>
        <h2>@Model.CurrentProject.Name</h2>
        <menu>
            <button type="button" class="link" onclick="project.cancel('#projectNew');" id="countMembers" >@I18n.GetString("members", new { count = Model.CurrentProject.Actors.Length })</button>
            <button type="button" class="sub" onclick="project.save('#projectNew');">@I18n.GetString("save")</button>
        </menu>
    </header>
    <section class="body">
        <section class="option">
            <h2>@I18n.GetString("project.definition")</h2>
            @Html.Action("Preview", "ProjectItem", new { Project = Model.CurrentProject, Items = Model.CurrentProject.Definition.Introducction, type = RecNote.Entities.Projects.ProjectItemType.Introduction })
            @Html.Action("Preview", "ProjectItem", new { Project = Model.CurrentProject, Items = Model.CurrentProject.Definition.Actors, type = RecNote.Entities.Projects.ProjectItemType.Actors })
            @Html.Action("Preview", "ProjectItem", new { Project = Model.CurrentProject, Items = Model.CurrentProject.Definition.CurrentSystem, type = RecNote.Entities.Projects.ProjectItemType.CurrentSystem })
            @Html.Action("Preview", "ProjectItem", new { Project = Model.CurrentProject, Items = Model.CurrentProject.Definition.Objetives, type = RecNote.Entities.Projects.ProjectItemType.Objetives })
        </section>

        <section class="option">
            <h2>@I18n.GetString("project.requirements")</h2>
            @Html.Action("Preview", "ProjectItem", new { Project = Model.CurrentProject, Items = Model.CurrentProject.Requirements.Informations, type = RecNote.Entities.Projects.ProjectItemType.ReqInformations })
            @Html.Action("Preview", "ProjectItem", new { Project = Model.CurrentProject, Items = Model.CurrentProject.Requirements.Functionals, type = RecNote.Entities.Projects.ProjectItemType.ReqFunctionals })
            @Html.Action("Preview", "ProjectItem", new { Project = Model.CurrentProject, Items = Model.CurrentProject.Requirements.NotFunctionals, type = RecNote.Entities.Projects.ProjectItemType.ReqNotFunctionals })
        </section>
    </section>
    <section class="right">
        <h2>
            @I18n.GetString("project.view.audios")
            <button type="button" onclick="audio.new('@Model.CurrentProject.ID')">@I18n.GetString("project.project.newAudio")</button>
        </h2>
        @Html.Action("List", "Audio", new { projectID = Model.CurrentProject.ID })
    </section>
    <footer>
    </footer>
</section>

